---
// src/components/Hero.astro
import backgroundImage from '../assets/add.svg';
---

<section>
    <img src={backgroundImage.src} alt="" />
    <h1>Hero Section</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus et
        ante tincidunt aliquam. Nullam nec purus et ante tincidunt aliquam.
    </p>
</section>